body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: #D5D4D8;
    font-family: "Inter", sans-serif;
}

.body-inner{
    width: 550px;
    height: 550px
}

.header-inner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    color: #D5D4D8;
    background-color: #1F2937;
}

input[type="color"],
select,
button{
    height: 42px;
    cursor: pointer;
}

input[type="color"]{
    width: 60px;
    border: none;
}

select,
::picker(select){
    appearance: base-select;
}

.select-mode{
    width: 312px;
    padding: 10px 13px;
}

.select-mode::picker-icon {
    content: url(./images/picker-icon.png);
    transform: translateY(20%);
    transition: 0.4s rotate;
}

.select-mode:open::picker-icon {
    transform: translateY(30%);
    rotate: 180deg;
}

.select-mode button{
    color: #D5D4D8;
}

.select-mode option{
    padding: 12px 16px;
    background-color: #1F2937;
    color: #FFFFFF;
}

.select-mode option:checked{
    font-weight: 600;
}

.select-mode option::checkmark{
    content: url(./images/checked-icon.png);
    order: 1;
    margin-left: auto;
}

::picker(select) {
    border-radius: 6px;
    border: none;
    opacity: 0;
    transition: all 0.4s allow-discrete;
}

::picker(select):popover-open {
    opacity: 1;
}

@starting-style {
    ::picker(select):popover-open {
        opacity: 0;
    }
}

::picker(select) {
  top: calc(anchor(bottom) + 3px);
}

.get-scheme-btn{
    padding: 13px 11px;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    background-color: #3D4B60;
}

.main-inner{
    display: flex;
}


.main-items{
    flex: 1 1 auto;
}